<div class="max-w-sm mx-auto card-background rounded-xl shadow-md overflow-hidden text-main-color">
    <img class="h-48 w-full object-cover" src="{{post?.image}}" alt="A laptop">
    <div class="p-6">
        <div class="uppercase tracking-wide text-sm text-blue-500 font-semibold">Technology</div>

        <p class="mt-2">{{post?.content}}</p>
        <div class="mt-4 flex items-center">
            <img class="w-10 h-10 rounded-full" src="{{post?.image}}" alt="Jane Doe">
             
            <div class="ml-3">
                <p class="text-sm font-medium ">{{post?.author}}</p>
                <p class="text-sm text-gray-500">{{post?.createdAt | date:'medium'}}</p>
            </div>
        </div>
    </div>
    <div class="mt-4 flex space-x-4 px-6 pb-4">
        <button class="flex items-center hover:text-primary" (click)="likePost()">
          <mat-icon>favorite</mat-icon>
          Like {{post?.likes}}
        </button>
        <button class="flex items-center hover:text-primary ">
          <mat-icon>comment</mat-icon>
          Comments {{post?.comments?.length}}
        </button>
    </div>
    <div class="flex space-x-4 px-6 pb-4 w-full" >
      <app-comment-section class="w-full" (commentAdded)="addComment($event)" [comments]="post?.comments"></app-comment-section>
    </div>
</div>